<!-- <app-form (emitVeiculosList)="populaListaVeiculos($event)"></app-form> -->

<section class="novo-veiculo-container">
  <div class="novo-veiculo">
    <div class="novo-veiculo-left">
      <h1 class="font-1-xxl">Veículos Cadastrados</h1>
    </div>
    <div class="novo-veiculo-rigth">
      <button type="button" [routerLink]="['novo']">Novo veículo</button>
    </div>
  </div>
</section>

<div class="table-container">
  <div class="table-content">
    <table
      class="styled-table"
      *ngIf="veiculos$ | async as veiculos; else loading"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Placa</th>
          <th>Chassi</th>
          <th>Renavam</th>
          <th>Modelo</th>
          <th>Marca</th>
          <th>Ano</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veiculo of veiculos">
          <td data-title="ID">{{ veiculo.id }}</td>
          <td data-title="Placa">{{ veiculo.placa }}</td>
          <td data-title="Chassi">{{ veiculo.chassi }}</td>
          <td data-title="Renavam">{{ veiculo.renavam }}</td>
          <td data-title="Modelo">{{ veiculo.modelo }}</td>
          <td data-title="Marca">{{ veiculo.marca }}</td>
          <td data-title="Ano">{{ veiculo.ano }}</td>
          <td>
            <div class="actions">
              <div class="edit-btn">
                <button (click)="onEdit(veiculo.id)">Editar</button>
              </div>
              <div class="delete-btn">
                <button>Excluir</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #loading>
    <span>Carregando veículos</span>
  </ng-template>
</div>
