.actions {
  display: flex;
  gap: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  color: var(--color-0);
  padding: 0.7rem 1rem;
  border-radius: 5px;
  cursor: pointer;

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.7rem;

  transition: 0.1s ease-in-out;
}

.edit-btn button {
  background-color: var(--color-0);
  border: 1px solid var(--color-green);

  color: var(--color-green);
}

.edit-btn button:hover {
  background-color: var(--color-green-hover);

  color: var(--color-0);
}

.delete-btn button {
  border: 1px solid var(--color-red);
  background-color: var(--color-0);

  color: var(--color-red);
}

.delete-btn button:hover {
  background-color: var(--color-red-hover);

  color: var(--color-0);
}

.novo-veiculo-container {
  width: 100%;
  height: 150px;
  background-color: var(--color-principal);

  display: flex;
  align-items: center;

  margin-bottom: 3rem;
}

.novo-veiculo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 85%;
  margin: 0 auto;
}

.novo-veiculo h1 {
  color: var(--color-0);
}

.novo-veiculo button {
  padding: 1rem 2rem;
  background-color: var(--color-0);
  color: var(--color-principal);

  font-weight: 700;
  font-size: 1rem;

  transition: 0.2s ease-in-out;
}

.novo-veiculo button:hover {
  color: var(--color-principal);
  transform: scale(1.06);
}

.table td {
  vertical-align: middle;
  margin: 0 auto;
}

.table tbody tr {
  height: 100px;
}

.lista-veiculos-container {
  display: flex;
  justify-content: center;

  width: 80%;
  margin: 0 auto;

  border: 1.5px solid var(--color-4);
  border-radius: 10px;

  padding: 2rem;
}

.table-container {
  width: 100%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.table-content {
  border-collapse: collapse;
  margin: 0 auto;
  width: 85%;

  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  padding: 1.5rem;

  border-radius: 20px;
}

.styled-table {
  width: 100%;
}

.styled-table thead tr {
  background-color: var(--color-0);
  color: var(--color-3);
  text-align: left;
  font-size: 1rem;

  border-bottom: 2px solid var(--color-4);
}

.styled-table th,
.styled-table td {
  padding: 2rem 2.5rem;
}
.styled-table tbody tr td {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-1);
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: 0.15s ease-in-out;

  background-color: var(--color-0);
}

.styled-table tbody tr:last-child {
  border: none;
}

.styled-table tbody tr:hover {
  background-color: var(--color-5);
}

@media (max-width: 768px) {
  .styled-table thead {
    display: none;
  }

  .styled-table,
  .styled-table tbody,
  .styled-table tr,
  .styled-table td {
    display: block;
    width: 100%;
  }

  .styled-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .styled-table td::before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 50%;
    text-align: left;
  }

  .styled-table td:last-child::before{
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 40%;
    width: 50%;
    text-align: left;
  }

  .styled-table th,
  .styled-table td {
    padding: 1.3rem 2.5rem;
  }

  .styled-table td{
    border-top: 1px solid var(--color-4);
  }

  .actions {
    justify-content: flex-end;
  }

  .table-content{
    width: 90%;
  }
}
