.container-form {
  width: 85%;
  margin: 0 auto;

  padding-bottom: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.form-group h1 {
  animation: showRight 0.4s ease;
}

.form {
  width: 100%;
  background-color: var(--color-0);

  box-shadow: 0px 5px 20px var(--color-shadow);

  padding: 4rem;

  border-radius: 20px;

  animation: showUp 0.2s;
}

@media (max-width: 1000px) {
  .form {
    padding: 2.8rem;
  }
}

@media (max-width: 1400px) {
  .container-form {
    width: 95%;
  }
}

@media (max-width: 750px) {
  .form {
    padding: 1.8rem;
  }

  .container-form {
    width: 92%;
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  width: 100%;

  margin-top: 1rem;
}

.btn-container .left {
  display: flex;
  gap: 1rem;
}

button {
  outline: none;
}

button[disabled] {
  background-color: var(--color-4);
  cursor: text;
}

button[disabled]:hover {
  background-color: var(--color-3);
}

.btn-resetar {
  background-color: var(--color-0);
  color: var(--color-red);
  box-shadow: 0px 0px 0px 1px var(--color-red);

  transition: 0.2s ease-in-out;
}

.btn-resetar:hover {
  color: var(--color-red-hover);
  background-color: var(--color-0);
  box-shadow: 0px 0px 0px 1px var(--color-red-hover);
}

.btn-reload {
  background-color: var(--color-0);
  color: var(--color-3);
  box-shadow: 0px 0px 0px 1px var(--color-4);

  transition: 0.2s ease-in-out;
}

.btn-reload:hover {
  background-color: var(--color-0);
  color: var(--color-principal);
  box-shadow: 0px 0px 0px 1px var(--color-principal);
}

.btn-save {
  background-color: var(--color-principal);
  color: var(--color-0);
  transition: 0.2s ease-in-out;
}

.btn-save:hover {
  background-color: var(--color-principal-hover);
}

@media (max-width: 768px) {
  .btn-container {
    flex-direction: column;
    gap: 1.6rem;
  }

  .btn-container .left {
    justify-content: space-between;
  }

  .btn-container .right {
    margin: 0 auto;
  }

  .btn-container .right button {
    font-size: 0.8rem;
  }
}

.input-box {
  display: flex;
  flex-direction: column;

  position: relative;
  animation: showUp 0.4s ease;
}

@media (max-width: 768px) {
  .input-box ~ .input-box {
    margin-top: 15px;
  }
}

.input-box input.disabled-input {
  background-color: var(--color-5);
}

.input-box input {
  padding: 0.6rem 0.9rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px var(--color-5);
  width: 100%;

  /* transition: box-shadow .1s ease-in-out; */
}

.input-uppercase {
  text-transform: uppercase;
}

.input-box input[readonly] {
  background-color: var(--color-5);
  cursor: not-allowed;
}

.input-box input[readonly]:hover {
  box-shadow: 0px 0px 0px 1px var(--color-5);
}

.input-box input[readonly]:focus {
  box-shadow: 0px 0px 0px 1px var(--color-5);
}

.input-box input:hover,
.input-box select:hover {
  box-shadow: 0px 0px 6px var(--color-principal-light);
}

.input-box input:focus {
  outline: none;
  border: none;
  box-shadow: 0px 0px 0px 2px var(--color-principal);
}

.input-box input::placeholder {
  color: var(--color-2);
  font-size: 0.9rem;
}

.input-box label {
  font-size: 0.96rem;
  font-weight: 600;
  color: var(--color-1);
  margin-bottom: 0.7rem;
}

.icon {
  position: absolute;
  left: 15px;
  top: 0;
  font-size: 1rem;
  color: var(--color-principal);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marcasList {
  position: absolute;
  max-height: 200px;
  min-width: 200px;

  display: flex;
  justify-content: flex-start;

  padding: 20px;
  border-radius: 5px;

  overflow-y: scroll;
  overflow-x: hidden;

  top: 5rem;
  right: 0;

  z-index: 2500;

  font-size: 0.95rem;
  font-weight: 500;

  color: var(--color-2);

  background-color: var(--color-0);
  box-shadow: 0px 3px 6px var(--color-shadow);

  animation: showUp 0.2s ease-in-out;
}

.marcasList ul {
  width: 100%;
}

.marcasList li {
  cursor: pointer;
  padding: 10px 0px;
  width: 100%;

  transition: 0.15s ease-in-out;

  animation: showRight 0.2s ease-in-out;
}

.marcasList li:hover {
  color: var(--color-principal);
}

.marcasList li ~ li {
  border-top: 1px solid var(--color-5);
}

@media (max-width: 767px) {
  .marcasList {
    width: 100%;
  }

  .modalPopupId {
    left: 30%;
    font-size: 0.5rem;
    padding: 0.5rem 0.2rem;

    width: 80px;
  }
}

.modalPopupId {
  font-size: 0.8rem;
  position: absolute;
  top: 70px;
  right: -40px;

  text-align: center;

  width: 150px;
  white-space: nowrap;

  padding: 0.8rem 0.4rem;
  background-color: var(--color-2);

  color: var(--color-0);
  box-shadow: 0px 3px 6px var(--color-shadow);

  border-radius: 4px;

  z-index: 5000;

  opacity: 0;
  display: none;

  animation: showUp 0.15s;
}

.modalPopupId::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);

  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--color-2);
}

#input-id:hover .modalPopupId {
  display: block;
  opacity: 1;
}

.container-spinner-form {
  position: absolute;
  max-height: 200px;
  min-width: 200px;

  display: flex;
  justify-content: center;

  padding: 20px;
  border-radius: 5px;

  top: 5rem;
  right: 0;

  z-index: 2500;

  background-color: var(--color-0);
  box-shadow: 0px 3px 6px var(--color-shadow);

  animation: showUp 0.2s ease-in-out;
}

.spinner {
  border: 7px solid var(--color-5);
  border-left-color: var(--color-principal);
  height: 30px;
  width: 30px;
  border-radius: 50%;

  animation: spinner 1s linear infinite;
}
