<app-header></app-header>
<section class="container-form">
  <div class="form">
    <form
      action="#"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      #formDir="ngForm"
    >
      <div class="form-group">
        <h2 class="col-span-total font-1xl">Dados do Veículo</h2>
        <div class="row">
          <div class="input-box col-md-1" id="input-id">
            <label for="id">ID</label>
            <input type="number" id="id" formControlName="id" readonly />
            <div class="modalPopupId">
              <span>Campo automático</span>
            </div>
          </div>

          <div class="input-box col-md-3">
            <label for="placa">Placa</label>
            <input
              type="text"
              id="placa"
              formControlName="placa"
              class="input-uppercase"
            />
            <app-error-msg
              [control]="getCampo('placa')"
              label="Placa"
            ></app-error-msg>
          </div>

          <div class="input-box col-md-4">
            <label for="chassi">Chassi</label>
            <input type="text" id="chassi" formControlName="chassi" />
            <app-error-msg
              [control]="getCampo('chassi')"
              label="Chassi"
            ></app-error-msg>
          </div>

          <div class="input-box col-md-4">
            <label for="renavam">Renavam</label>
            <input
              type="text"
              id="renavam"
              formControlName="renavam"
              [mask]="'000000000'"
            />
            <app-error-mask
              *ngIf="validatorError('renavam', 'mask')"
              maskLength="9"
            ></app-error-mask>
            <app-error-msg
              [control]="getCampo('renavam')"
              label="Renavam"
            ></app-error-msg>
          </div>
        </div>

        <div class="row">
          <div class="input-box col-md-3">
            <label for="marca">Marca</label>
            <div class="form-input">
              <input
                type="text"
                id="marca"
                formControlName="marca"
                (keyup)="consultaFipe(this.form.get('marca')!.value)"
              />

              <div class="marcasList" *ngIf="filterFipeArray.length">
                <ul>
                  <li
                    *ngFor="let marca of filterFipeArray"
                    (click)="setValueFipe(marca.nome)"
                  >
                    {{ marca.nome }}
                  </li>
                </ul>
              </div>
            </div>
            <app-error-msg
              [control]="getCampo('marca')"
              label="Marca"
            ></app-error-msg>
          </div>

          <div class="input-box col-md-5">
            <label for="modelo">Modelo</label>
            <input type="text" id="modelo" formControlName="modelo" />
            <app-error-msg
              [control]="getCampo('modelo')"
              label="Modelo"
            ></app-error-msg>
          </div>

          <div class="input-box col-md-4">
            <label for="ano">Ano</label>
            <input
              type="text"
              id="ano"
              placeholder="2022"
              formControlName="ano"
              [mask]="'0000'"
            />
            <app-error-mask
              *ngIf="validatorError('ano', 'mask')"
              maskLength="4"
            ></app-error-mask>
            <app-error-msg
              [control]="getCampo('ano')"
              label="Ano"
            ></app-error-msg>
          </div>
        </div>

        <div class="btn-container">
          <div class="left">
            <div class="btn-submit">
              <button
                class="btn-save"
                [disabled]="!form.valid"
                type="submit"
                (click)="onSave()"
              >
                Salvar
              </button>
            </div>

            <div class="btn-submit">
              <button class="btn-resetar" (click)="onReset()">Limpar</button>
            </div>
          </div>

          <div class="right">
            <div class="btn-submit">
              <button class="btn-reload" type="submit" (click)="onReload()">
                Dados Originais
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
