.alert-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 1rem;
}

.alert-container span{
  font-weight: 500;
}

.modal-content{
  border-radius: 10px;
}

.erro{
  background-color: var(--color-red-bg);
}

.erro span{
  color: var(--color-red-bg-title);
}

.sucess{
  background-color: var(--color-green-bg);
}

.sucess span{
  color: var(--color-green-bg-title);
}


button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  background-color: transparent;
}

button span {
  font-size: 1.6rem;
  font-weight: 600;

  vertical-align: middle;
  margin-bottom: 4px;
}
